# `Parsing JSON DATA FROM Google TimeLine`:

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

# Purpose & Outcome:

+ Parse Json Data
+ Use datatime formatting
+ string manipulation
+ Find files in local system

# *Special Thanks*, to the` Subscriber who wanted me to make this video and help them`.

`-----------------------------------`

**`Viel Glück und alles Gute`**

`-----------------------------------`

In [34]:
import pandas as pd           # dataframes
import json                   # manipulate json
from datetime import datetime # parse date time and format
from collections import defaultdict # custom dictionary
import os                     # reading files
import re                     # regular expressions

# Function to find Files Locally

In [35]:
# import os
def os_dir_search(file):
    u=[]
    for p,n,f in os.walk(os.getcwd()):
        
        for a in f:
            a = str(a)
            if a.endswith(file): # can be (.csv) or a file like I did and search 
                print(a)
                print(p)
                t=pd.read_csv(p+'/'+file)
#                               names=['row_id','credit_card',
#                                                 'email','first_name','last_name','primary_phone'],header=0)
            
    return t

os_dir_search('google_addr_file.json')

google_addr_file.json
/Users/zatoichi59/Desktop/youtube_vid_code

Empty DataFrame
Columns: [{"timelineObjects": [{"activitySegment": {"startLocation": {"latitudeE7": 514049500,  "longitudeE7": 123609400},  "endLocation": {"latitudeE7": 514220814,  "longitudeE7": 122203805},  "duration": {"startTimestampMs": "1463195198436",  "endTimestampMs": "1463195868401"},  "distance": 9598,  "confidence": "MEDIUM",  "activities": [{"activityType": "IN_PASSENGER_VEHICLE",  "probability": 0.0},  {"activityType": "IN_VEHICLE",  "probability": 0.0}.1,  {"activityType": "FLYING",  "probability": 0.0}.2,  {"activityType": "CYCLING",  "probability": 0.0}.3,  {"activityType": "WALKING",  "probability": 0.0}.4,  {"activityType": "RUNNING",  "probability": 0.0}.5,  {"activityType": "IN_BUS",  "probability": 0.0}.6,  {"activityType": "IN_TRAIN",  "probability": 0.0}.7,  {"activityType": "IN_SUBWAY",  "probability": 0.0}.8,  {"activityType": "IN_TRAM",  "probability": 0.0}.9,  {"activityType": "IN_FERRY",  "probability": 0.0}.10,  {"activityType": "IN_CABLECAR",  "probability": 0.0}.11,  {"activityType": "IN_FUNICULAR",  "probability": 0.0}.12,  {"activityType": "HIKING",  "probability": 0.0}.13,  {"activityType": "KAYAKING",  "probability": 0.0}.14,  {"activityType": "KITESURFING",  "probability": 0.0}.15,  {"activityType": "ROWING",  "probability": 0.0}.16,  {"activityType": "SAILING",  "probability": 0.0}.17,  {"activityType": "SKATING",  "probability": 0.0}.18,  {"activityType": "SKIING",  "probability": 0.0}.19,  {"activityType": "SKATEBOARDING",  "probability": 0.0}.20,  {"activityType": "SLEDDING",  "probability": 0.0}.21,  {"activityType": "SNOWBOARDING",  "probability": 0.0}.22,  {"activityType": "SNOWMOBILE",  "probability": 0.0}.23,  {"activityType": "SNOWSHOEING",  "probability": 0.0}.24,  {"activityType": "SURFING",  "probability": 0.0}.25,  {"activityType": "SWIMMING",  "probability": 0.0}.26,  {"activityType": "WALKING_NORDIC",  "probability": 0.0}.27,  {"activityType": "MOTORCYCLING",  "probability": 0.0}.28,  {"activityType": "BOATING",  "probability": 0.0}.29,  {"activityType": "IN_WHEELCHAIR",  "probability": 0.0}.30,  {"activityType": "HORSEBACK_RIDING",  "probability": 0.0}.31,  {"activityType": "IN_GONDOLA_LIFT",  "probability": 0.0}],  "waypointPath": {"waypoints": [{"latE7": 514049758,  "lngE7": 123613548},  {"latE7": 514235763,  "lngE7": 122241048}]},  "editConfirmationStatus": "NOT_CONFIRMED"}},  {"placeVisit": {"location": {"latitudeE7": 514220814,  "longitudeE7": 122203805,  "placeId": "ChIJZwkilQJfpkcRRfEptBP_Lik",  "address": "Terminalring 11\n04435 Schkeuditz\nDeutschland",  "name": "Leipzig/Halle Airport",  "sourceInfo": {"deviceTag": 275431263},  "locationConfidence": 98.58577},  "duration": {"startTimestampMs": "1463195868401",  "endTimestampMs": "1463202191057"},  "placeConfidence": "HIGH_CONFIDENCE",  "centerLatE7": 514206399,  "centerLngE7": 122207964,  "visitConfidence": 80,  "otherCandidateLocations": [{"latitudeE7": 514200953,  "longitudeE7": 122205122,  "placeId": "ChIJGToFAaxfpkcR9D3uYXBHBpo",  "name": "Airport Services Leipzig GmbH",  "locationConfidence": 0.34813222},  {"latitudeE7": 514233469,  "longitudeE7": 122231742,  "placeId": "ChIJOYwxE6tfpkcROYGeNDmcibk", ...]
Index: []

[0 rows x 489 columns]

# Function to find files globally:

In [36]:
# Find a file outside your directory:

def os_any_dir_search(file):
    u=[]
    for p,n,f in os.walk(os.getcwd()):
        
        for a in f:
            a = str(a)
            if a.endswith(file): # can be (.csv) or a file like I did and search 
#                 print(a)
                print(p)
                t=pd.read_csv(p+'/'+file)
                u.append(p+'/'+a)
    return t,u

os_any_dir_search('google_addr_file.json')

/Users/zatoichi59/Desktop/youtube_vid_code

(Empty DataFrame
 Columns: [{"timelineObjects": [{"activitySegment": {"startLocation": {"latitudeE7": 514049500,  "longitudeE7": 123609400},  "endLocation": {"latitudeE7": 514220814,  "longitudeE7": 122203805},  "duration": {"startTimestampMs": "1463195198436",  "endTimestampMs": "1463195868401"},  "distance": 9598,  "confidence": "MEDIUM",  "activities": [{"activityType": "IN_PASSENGER_VEHICLE",  "probability": 0.0},  {"activityType": "IN_VEHICLE",  "probability": 0.0}.1,  {"activityType": "FLYING",  "probability": 0.0}.2,  {"activityType": "CYCLING",  "probability": 0.0}.3,  {"activityType": "WALKING",  "probability": 0.0}.4,  {"activityType": "RUNNING",  "probability": 0.0}.5,  {"activityType": "IN_BUS",  "probability": 0.0}.6,  {"activityType": "IN_TRAIN",  "probability": 0.0}.7,  {"activityType": "IN_SUBWAY",  "probability": 0.0}.8,  {"activityType": "IN_TRAM",  "probability": 0.0}.9,  {"activityType": "IN_FERRY",  "probability": 0.0}.10,  {"activityType": "IN_CABLECAR",  "probability": 0.0}.11,  {"activityType": "IN_FUNICULAR",  "probability": 0.0}.12,  {"activityType": "HIKING",  "probability": 0.0}.13,  {"activityType": "KAYAKING",  "probability": 0.0}.14,  {"activityType": "KITESURFING",  "probability": 0.0}.15,  {"activityType": "ROWING",  "probability": 0.0}.16,  {"activityType": "SAILING",  "probability": 0.0}.17,  {"activityType": "SKATING",  "probability": 0.0}.18,  {"activityType": "SKIING",  "probability": 0.0}.19,  {"activityType": "SKATEBOARDING",  "probability": 0.0}.20,  {"activityType": "SLEDDING",  "probability": 0.0}.21,  {"activityType": "SNOWBOARDING",  "probability": 0.0}.22,  {"activityType": "SNOWMOBILE",  "probability": 0.0}.23,  {"activityType": "SNOWSHOEING",  "probability": 0.0}.24,  {"activityType": "SURFING",  "probability": 0.0}.25,  {"activityType": "SWIMMING",  "probability": 0.0}.26,  {"activityType": "WALKING_NORDIC",  "probability": 0.0}.27,  {"activityType": "MOTORCYCLING",  "probability": 0.0}.28,  {"activityType": "BOATING",  "probability": 0.0}.29,  {"activityType": "IN_WHEELCHAIR",  "probability": 0.0}.30,  {"activityType": "HORSEBACK_RIDING",  "probability": 0.0}.31,  {"activityType": "IN_GONDOLA_LIFT",  "probability": 0.0}],  "waypointPath": {"waypoints": [{"latE7": 514049758,  "lngE7": 123613548},  {"latE7": 514235763,  "lngE7": 122241048}]},  "editConfirmationStatus": "NOT_CONFIRMED"}},  {"placeVisit": {"location": {"latitudeE7": 514220814,  "longitudeE7": 122203805,  "placeId": "ChIJZwkilQJfpkcRRfEptBP_Lik",  "address": "Terminalring 11\n04435 Schkeuditz\nDeutschland",  "name": "Leipzig/Halle Airport",  "sourceInfo": {"deviceTag": 275431263},  "locationConfidence": 98.58577},  "duration": {"startTimestampMs": "1463195868401",  "endTimestampMs": "1463202191057"},  "placeConfidence": "HIGH_CONFIDENCE",  "centerLatE7": 514206399,  "centerLngE7": 122207964,  "visitConfidence": 80,  "otherCandidateLocations": [{"latitudeE7": 514200953,  "longitudeE7": 122205122,  "placeId": "ChIJGToFAaxfpkcR9D3uYXBHBpo",  "name": "Airport Services Leipzig GmbH",  "locationConfidence": 0.34813222},  {"latitudeE7": 514233469,  "longitudeE7": 122231742,  "placeId": "ChIJOYwxE6tfpkcROYGeNDmcibk", ...]
 Index: []

 [0 rows x 489 columns],
 ['/Users/zatoichi59/Desktop/youtube_vid_code/google_addr_file.json'])

# possible `Regex` to find files with a similar name format

In [37]:
# file_name=['2016_JUNE.json','20_06.json','wowza.json','Jun_2006.jon']

# u=[]
# for i in file_name:
#     u.append(re.compile(r'[d+]{4}[_A-Z+].+',i))
# u

# Obtaining Data:

+ The data came from `Google` and was sent to me raw. I converted to a json file for use and needed to utilize `json_normalize` to flatten out these data for interpretation and investigation.

In [38]:
# with open('google_addr_file.json', 'w') as f_out:
#     json.dump(data , f_out)

googs_=pd.read_json('google_addr_file.json')


# df_=pd.DataFrame(googs_['timelineObjects'])

ext_df_=pd.json_normalize(json.loads(googs_['timelineObjects'].to_json(orient="records")))

ext_df_

,activitySegment.startLocation.latitudeE7,activitySegment.startLocation.longitudeE7,activitySegment.endLocation.latitudeE7,activitySegment.endLocation.longitudeE7,activitySegment.duration.startTimestampMs,activitySegment.duration.endTimestampMs,activitySegment.distance,activitySegment.confidence,activitySegment.activities,activitySegment.waypointPath.waypoints,...,placeVisit.visitConfidence,placeVisit.otherCandidateLocations,placeVisit.editConfirmationStatus,placeVisit.simplifiedRawPath.points,activitySegment.simplifiedRawPath.points,activitySegment.endLocation.placeId,activitySegment.endLocation.address,activitySegment.endLocation.name,activitySegment.endLocation.sourceInfo.deviceTag,activitySegment.endLocation.locationConfidence
0,514049500.0,123609400.0,514220814.0,122203805.0,1463195198436,1463195868401,9598.0,MEDIUM,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...","[{'latE7': 514049758, 'lngE7': 123613548}, {'l...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,"[{'latitudeE7': 514200953, 'longitudeE7': 1222...",NOT_CONFIRMED,"[{'latE7': 514232840, 'lngE7': 122239132, 'tim...",NaN,NaN,NaN,NaN,NaN,NaN
2,514220814.0,122203805.0,396019440.0,199122220.0,1463202191057,1463211334026,1442635.0,HIGH,"[{'activityType': 'FLYING', 'probability': 0.0...",NaN,...,NaN,NaN,NaN,NaN,"[{'latE7': 514167583, 'lngE7': 122280939, 'tim...",NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,"[{'latitudeE7': 396073024, 'longitudeE7': 1991...",NOT_CONFIRMED,"[{'latE7': 396073392, 'lngE7': 199128783, 'tim...",NaN,NaN,NaN,NaN,NaN,NaN
4,396019440.0,199122220.0,394994696.0,202640076.0,1463212249891,1463221715306,NaN,MEDIUM,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...","[{'latE7': 396080780, 'lngE7': 199147644}, {'l...",...,NaN,NaN,NaN,NaN,"[{'latE7': 396315002, 'lngE7': 199203758, 'tim...",ChIJkeA_XEF-WxMRbd85M_K-MgY,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,Avis Car Hire Igoumenitsa,275431263.0,88.83902
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,"[{'latitudeE7': 394990784, 'longitudeE7': 2026...",NOT_CONFIRMED,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# The Desired Variables of Interest:

+ These consist of nested json objects separated by dot notation. 
    + Each dot is a new layer deeper into the nesting.

In [39]:
desired_vars=['activitySegment.duration.startTimestampMs',
       'activitySegment.duration.endTimestampMs', 
       'activitySegment.distance',
       'activitySegment.activities',
       'placeVisit.location.address',
       'placeVisit.duration.startTimestampMs',
       'placeVisit.duration.endTimestampMs',
       'activitySegment.endLocation.address',
       'activitySegment.endLocation.locationConfidence',
        'placeVisit.location.name',
        'activitySegment.endLocation.name']

In [40]:
# Parse Columns of Interest:
df_start=ext_df_.loc[:,desired_vars]
df_start.dtypes

activitySegment.duration.startTimestampMs          object
activitySegment.duration.endTimestampMs            object
activitySegment.distance                          float64
activitySegment.activities                         object
placeVisit.location.address                        object
placeVisit.duration.startTimestampMs               object
placeVisit.duration.endTimestampMs                 object
activitySegment.endLocation.address                object
activitySegment.endLocation.locationConfidence    float64
placeVisit.location.name                           object
activitySegment.endLocation.name                   object
dtype: object

In [41]:
df_start_=pd.json_normalize(json.loads(df_start.explode('activitySegment.activities').to_json(orient="records")))

# The Timestamps: will need to be converted from `Ms` to an actual useable format for humans

+ There are four columns of interest: 

`activitySegment.duration.startTimestampMs,	activitySegment.duration.endTimestampMs,placeVisit.duration.startTimestampMs,	placeVisit.duration.endTimestampMs`

**As a disclaimer**, I chose to find the strings containing `Timestamp` instead of directly calling these columns for two reasons:
+ If you have new data or more columns than your able to directly view it would be beneficial to not hard code your results.
+ Also, it gives you an option to work with and builds new skills

In [42]:

ste=[] # store the columns related to timestamp in their string names
for i in df_start:
    if i.find('Timestamp')>0:
        ste.append(i)
#     else:
#         ste.append(0)
len(ste)

df_fill=df_start.loc[:,ste].fillna(0) # fill Na with zero

df_fill=df_fill.apply(pd.to_numeric) # change datatype

# from collections import defaultdict

tmst=defaultdict(list)

for i in df_fill.to_dict().items():
    for j in i[1].values():
        if j == 0:
            tmst[i[0]].append('Nada') # if timestamp absent replace with 'nada'
        else:
            tmst[i[0]].append(datetime.fromtimestamp(j/1000)) # divide by 10^-3 sec

df_start[ste]=pd.DataFrame(tmst)

df_start

,activitySegment.duration.startTimestampMs,activitySegment.duration.endTimestampMs,activitySegment.distance,activitySegment.activities,placeVisit.location.address,placeVisit.duration.startTimestampMs,placeVisit.duration.endTimestampMs,activitySegment.endLocation.address,activitySegment.endLocation.locationConfidence,placeVisit.location.name,activitySegment.endLocation.name
0,2016-05-13 21:06:38.436000,2016-05-13 21:17:48.401000,9598.0,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,NaN,NaN,NaN,NaN
1,Nada,Nada,NaN,NaN,Terminalring 11\n04435 Schkeuditz\nDeutschland,2016-05-13 21:17:48.401000,2016-05-13 23:03:11.057000,NaN,NaN,Leipzig/Halle Airport,NaN
2,2016-05-13 23:03:11.057000,2016-05-14 01:35:34.026000,1442635.0,"[{'activityType': 'FLYING', 'probability': 0.0...",NaN,Nada,Nada,NaN,NaN,NaN,NaN
3,Nada,Nada,NaN,NaN,Κέρκυρα 491 00\nΕλλάδα,2016-05-14 01:35:34.026000,2016-05-14 01:50:49.891000,NaN,NaN,Aerolimenas Kerkiras Ioannis Kapodistria,NaN
4,2016-05-14 01:50:49.891000,2016-05-14 04:28:35.306000,NaN,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,88.83902,NaN,Avis Car Hire Igoumenitsa
5,Nada,Nada,NaN,NaN,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,2016-05-14 04:28:35.306000,2016-05-14 05:00:03.646000,NaN,NaN,Avis Car Hire Igoumenitsa,NaN

# Float values for the `Confidence and activity distance` need to be changed to zero where Nan exist

In [43]:
df_start[['activitySegment.endLocation.locationConfidence',
'activitySegment.distance']]=df_start.loc[:,['activitySegment.endLocation.locationConfidence',
'activitySegment.distance']].fillna(0)

df_start

,activitySegment.duration.startTimestampMs,activitySegment.duration.endTimestampMs,activitySegment.distance,activitySegment.activities,placeVisit.location.address,placeVisit.duration.startTimestampMs,placeVisit.duration.endTimestampMs,activitySegment.endLocation.address,activitySegment.endLocation.locationConfidence,placeVisit.location.name,activitySegment.endLocation.name
0,2016-05-13 21:06:38.436000,2016-05-13 21:17:48.401000,9598.0,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,NaN,0.00000,NaN,NaN
1,Nada,Nada,0.0,NaN,Terminalring 11\n04435 Schkeuditz\nDeutschland,2016-05-13 21:17:48.401000,2016-05-13 23:03:11.057000,NaN,0.00000,Leipzig/Halle Airport,NaN
2,2016-05-13 23:03:11.057000,2016-05-14 01:35:34.026000,1442635.0,"[{'activityType': 'FLYING', 'probability': 0.0...",NaN,Nada,Nada,NaN,0.00000,NaN,NaN
3,Nada,Nada,0.0,NaN,Κέρκυρα 491 00\nΕλλάδα,2016-05-14 01:35:34.026000,2016-05-14 01:50:49.891000,NaN,0.00000,Aerolimenas Kerkiras Ioannis Kapodistria,NaN
4,2016-05-14 01:50:49.891000,2016-05-14 04:28:35.306000,0.0,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,88.83902,NaN,Avis Car Hire Igoumenitsa
5,Nada,Nada,0.0,NaN,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,2016-05-14 04:28:35.306000,2016-05-14 05:00:03.646000,NaN,0.00000,Avis Car Hire Igoumenitsa,NaN

In [44]:
# convert the new column by filling Na with 'Nope'
df_start['activitySegment.activities']=df_start['activitySegment.activities'].fillna('Nope')

# `Need to Extract the data from list of dictionaries in [activitySegment.activities] column`

In [45]:
new_df=pd.json_normalize(json.loads(df_start.explode('activitySegment.activities').to_json(orient="records")))

# len(set(new_df['activitySegment.activities.activityType']) )    

tt=[]
# showing datatypes so I can figure out how to deal with these data
for i in df_start['activitySegment.activities'].values.tolist():
    print(type(i))

<class 'list'>
<class 'str'>
<class 'list'>
<class 'str'>
<class 'list'>
<class 'str'>

In [46]:

# creating a representation of original data to remove rows of NaN, to parse easily
trick_=[{'activityType': 'Nada', 'probability': 'Nada'}]*len(df_start['activitySegment.activities'][0])

hack_=[] # used to convert Nan to correct format for ease of use
for i in df_start['activitySegment.activities'].values.tolist():
    if type(i)==str: 
        hack_.append(trick_)
    else:
        hack_.append(i)

# new DF without rows of Nan or strings and all same format: dict lists
no_nan_LstofDict=pd.DataFrame(hack_)

# flatten columns of dictionaries to new columns:
activity_n_prob=pd.json_normalize(json.loads(no_nan_LstofDict.to_json(orient="records")))

'''
Find any string with this word, >0 since we are dealing with location of this word
if i doesn't appear you get -1

'''


act=[]
prob=[]
for i in activity_n_prob:
    if i.find('activit')>0: 
        act.append(i)
    else:
        prob.append(i)

Prob_=[]       

for i in activity_n_prob[prob].values:
    Prob_.append(i)


Act_=[]
for j in activity_n_prob[act].values:
    Act_.append(j)


activityKey_Probval=defaultdict(list) # key, with values as a list


u=[] # list of probabilities
for i in Prob_:
    u.extend(i)


v=[] # list of activities
for i in [Act_[0]]*len(df_start): # copying the keys so we have enough to do dict()
    v.extend(i)
# len(v)

for i in list(zip(v,u)):
    activityKey_Probval[i[0]].append(i[1])

In [47]:
activities_df=pd.DataFrame(activityKey_Probval)
activities_df

,IN_PASSENGER_VEHICLE,IN_VEHICLE,FLYING,CYCLING,WALKING,RUNNING,IN_BUS,IN_TRAIN,IN_SUBWAY,IN_TRAM,...,SNOWMOBILE,SNOWSHOEING,SURFING,SWIMMING,WALKING_NORDIC,MOTORCYCLING,BOATING,IN_WHEELCHAIR,HORSEBACK_RIDING,IN_GONDOLA_LIFT
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,...,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,...,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,...,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada

# Fix Column Names: 
+ Remove dot notation and take last occurance

In [48]:
col_names=[] # store the new column names
for i in df_start.columns:
    col_names.append(i.split('.',1)) # split on first occurance of a dot
col_names


fin_col_names=[sublist[-1] for sublist in col_names] # take last entry of each list

df_start.columns=fin_col_names # change to new names
df_start

,duration.startTimestampMs,duration.endTimestampMs,distance,activities,location.address,duration.startTimestampMs,duration.endTimestampMs,endLocation.address,endLocation.locationConfidence,location.name,endLocation.name
0,2016-05-13 21:06:38.436000,2016-05-13 21:17:48.401000,9598.0,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,NaN,0.00000,NaN,NaN
1,Nada,Nada,0.0,Nope,Terminalring 11\n04435 Schkeuditz\nDeutschland,2016-05-13 21:17:48.401000,2016-05-13 23:03:11.057000,NaN,0.00000,Leipzig/Halle Airport,NaN
2,2016-05-13 23:03:11.057000,2016-05-14 01:35:34.026000,1442635.0,"[{'activityType': 'FLYING', 'probability': 0.0...",NaN,Nada,Nada,NaN,0.00000,NaN,NaN
3,Nada,Nada,0.0,Nope,Κέρκυρα 491 00\nΕλλάδα,2016-05-14 01:35:34.026000,2016-05-14 01:50:49.891000,NaN,0.00000,Aerolimenas Kerkiras Ioannis Kapodistria,NaN
4,2016-05-14 01:50:49.891000,2016-05-14 04:28:35.306000,0.0,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,88.83902,NaN,Avis Car Hire Igoumenitsa
5,Nada,Nada,0.0,Nope,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,2016-05-14 04:28:35.306000,2016-05-14 05:00:03.646000,NaN,0.00000,Avis Car Hire Igoumenitsa,NaN

In [49]:
# Final DF: put together column wise
pd.concat([df_start,activities_df],axis=1)

,duration.startTimestampMs,duration.endTimestampMs,distance,activities,location.address,duration.startTimestampMs,duration.endTimestampMs,endLocation.address,endLocation.locationConfidence,location.name,...,SNOWMOBILE,SNOWSHOEING,SURFING,SWIMMING,WALKING_NORDIC,MOTORCYCLING,BOATING,IN_WHEELCHAIR,HORSEBACK_RIDING,IN_GONDOLA_LIFT
0,2016-05-13 21:06:38.436000,2016-05-13 21:17:48.401000,9598.0,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,NaN,0.00000,NaN,...,0,0,0,0,0,0,0,0,0,0
1,Nada,Nada,0.0,Nope,Terminalring 11\n04435 Schkeuditz\nDeutschland,2016-05-13 21:17:48.401000,2016-05-13 23:03:11.057000,NaN,0.00000,Leipzig/Halle Airport,...,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada
2,2016-05-13 23:03:11.057000,2016-05-14 01:35:34.026000,1442635.0,"[{'activityType': 'FLYING', 'probability': 0.0...",NaN,Nada,Nada,NaN,0.00000,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Nada,Nada,0.0,Nope,Κέρκυρα 491 00\nΕλλάδα,2016-05-14 01:35:34.026000,2016-05-14 01:50:49.891000,NaN,0.00000,Aerolimenas Kerkiras Ioannis Kapodistria,...,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada
4,2016-05-14 01:50:49.891000,2016-05-14 04:28:35.306000,0.0,"[{'activityType': 'IN_PASSENGER_VEHICLE', 'pro...",NaN,Nada,Nada,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,88.83902,NaN,...,0,0,0,0,0,0,0,0,0,0
5,Nada,Nada,0.0,Nope,147\nΑγ. Αποστόλων str\nΗγουμενίτσα 461 00\nΕλ...,2016-05-14 04:28:35.306000,2016-05-14 05:00:03.646000,NaN,0.00000,Avis Car Hire Igoumenitsa,...,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada,Nada

# <font color=red>Like</font>, Share &

# <font color=red>SUB</font>scribe

# Citations & Help:

# ◔̯◔

https://stackoverflow.com/questions/15742045/getting-time-zone-from-lat-long-coordinates

https://www.jquery-az.com/5-examples-python-string-find-search-string-contains-word/#:~:text=The%20Python%20string%20find%20method,the%20find()%20returns%20%2D1

https://stackoverflow.com/questions/31548132/python-datetime-fromtimestamp-yielding-valueerror-year-out-of-range

https://stackoverflow.com/questions/55415548/convert-timestamp-list-to-datetime-list

https://pastebin.com/D94KVhYP?fbclid=IwAR1kVUeBkmuCoo87B5Ylq3I9PNkaCzfuMdHfWTzqyJMU8jp_PCX_IJS0mOo (good resource sent to me after I made notebook)

https://github.com/MrFuguDataScience/SendDataFrom-R-Python-to-SQL-PSQL-Mongo/blob/master/Send%20Data%20From%20Python%20to%20MongoDB.ipynb